@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.slide-container {
  background: url(../images/pattern-curve.svg) no-repeat;
  background-position: bottom left;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  transition: all 0.7s linear;

  background-position: 53px 161px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.slide img:first-child {
  width: 70%;
}
.slide-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-bg {
  position: absolute;
  z-index: -2;
  width: 90%;
}
.slide-text {
  background: url(../images/pattern-quotes.svg) no-repeat center 65px;
  background-size: 75px;
}
.slide-text p {
  margin-top: 90px;
  font-weight: 500;
  color: var(--Dark-Blue);
}
.slide-text h3 {
  margin: 0;
  color: var(--Dark-Blue);
  font-weight: 700;
}
.slide-text h4 {
  margin: 0;
  color: var(--Grayish-Blue);
  font-weight: 300;
}
.slide-btn {
  position: absolute;
  bottom: -3%;
  display: flex;
  border: none;
}
.slide-btn .prev {
  border-radius: 50% 0 0 50%;
}
.slide-btn .next {
  border-radius: 0px 50% 50% 0;
}
.slide-btn button {
  border: none;
  height: 25px;
  background: #fff;
}
.slide-btn button img {
  width: 50%;
}

/* Tablet */

@media only screen and (min-width: 1000px) {
  .container {
    height: 100vh;
  }
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide {
    flex-direction: row-reverse;
  }
  .slide-text {
    width: 55%;
    position: absolute;
    left: 43px;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-position: 12% 20%;
    background-size: 125px;
  }
  .slide-img {
    position: relative;
    right: -23%;
    height: 100%;
    width: 450px;
    box-shadow: 1px 10px 40px -12px #000000;
  }
  .slide-img img {
    width: 129%;
    left: -93px;
  }
  .slide-text p {
    margin-top: 0;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
  }
  .slide-btn {
    left: 100px;
  }
  .slide-btn button {
    height: 45px;
    width: 45px;
  }

  .img-bg {
    left: 21px;
  }
  .slide img:first-child {
    width: 100%;
  }
  #button-img .prev img {
    width: 33%;
  }
  #button-img .next img {
    width: 33%;
  }
}

/* Desktop size*/

@media only screen and (min-width: 1440px) {
  .slide-img {
    width: 600px;
  }

  .slide-text p {
    font-size: 32px;
  }
}
