@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Primary */
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* Text */
  --Very-Dark-Grayish-Blue: hsl(237, 12%, 33%);
  --Dark-Grayish-Blue: hsl(240, 6%, 50%);
  /* Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);

  /* Background gradient */
  --Sft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  color: var(--Very-dark-desaturated-blue);
}
