@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  /* ### Primary */

  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
/* basic css */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
p {
  font-size: small;
  color: var(--Grayish-Blue);
  line-height: 20px;
  margin-bottom: 30px;
}
.clipboard-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0 30px;
  background: url(../images/bg-header-mobile.png) no-repeat;
}

/* history of everything */
.history-of {
  margin: 50px 0;
}

.history-of .logo img {
  width: 100px;
}
.history-of-text {
  text-align: center;
}
.history-of-text h1 {
  font-weight: 600;
  font-size: 120%;
  margin-bottom: 10px;
}

.history-of-buttons {
  display: flex;
  flex-direction: column;
  align-items: normal;
  width: 100%;
}
.history-of-buttons .system-btn {
  border-radius: 40px;
  margin-bottom: 20px;
  height: 45px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.history-of-buttons .system-btn:hover {
  opacity: 0.8;
}
.ios {
  background: var(--Strong-Cyan);
  border: 3px solid var(--Strong-Cyan);
  box-shadow: 0px 2px 2px 2px hsl(171deg 70% 29%);
}
.mac {
  background: var(--Light-Blue);
  border: 3px solid var(--Light-Blue);
  box-shadow: 0px 2px 2px 2px hsl(233deg 64% 44%);
}
/* Keep track */
.keep-track {
  margin: 80px 0 40px 0;
  text-align: center;
}
.keep-track h2 {
  font-weight: 600;
  font-size: 130%;
  padding: 0 20px;
  margin-bottom: 10px;
}

/* computer */
.computer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.img-wrap {
  margin-bottom: 40px;
}
.img-wrap img {
  width: 100%;
}

.computer-text div h3 {
  font-size: 120%;
  margin: 10px 0;
}

/* Divace  */

.clipboard {
  text-align: center;
}

.workflow {
  text-align: center;
}
.workflow h3 {
  font-size: 120%;
  margin-bottom: 10px;
  padding: 0 35px;
}

/* addons */
.addons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
/* companies */
.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}
.companies a {
  margin: 20px 0;
}
.companies a img {
  width: 120px;
}
/* clipboard for ios and mac os */
.ios-and-mac {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.ios-and-mac h2 {
  font-size: 120%;
  margin-bottom: 10px;
  padding: 0 34px;
}
/* footer */
.footer {
  margin-top: 100px;
  background: #f0eded;
  width: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .logo {
  text-align: center;
}
.footer .logo img {
  width: 45px;
  margin: 30px 0;
}

.footer .list a {
  color: var(--Dark-Grayish-Blue);
  text-decoration: none;
  font-size: 80%;
  font-weight: bold;
  padding: 5px 0;
}
.footer .list a:hover {
  color: var(--Strong-Cyan);
}
.footer .list div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.media {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media a {
  margin: 0 15px;
}
footer {
  display: none;
}
/* MEDIA */
@media only screen and (min-width: 375px) {
  .clipboard-wrap {
    background: url(../images/bg-header-desktop.png) no-repeat top;
    background-size: contain;
  }
  .history-of-buttons {
    display: flex;
    align-items: center;
  }
  .system-btn {
    width: 300px;
  }
}
@media only screen and (min-width: 750px) {
  .history-of-text {
    width: 600px;
  }
  .keep-track {
    width: 600px;
  }
  .clipboard {
    width: 600px;
  }

  .ios-and-mac {
    width: 600px;
  }
  .addons {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .companies {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }
  .companies a img {
    width: 80px;
  }
  .computer-wrap {
    flex-direction: row;
    position: relative;
    left: -103px;
    width: 1400px;
  }
  .img-wrap img {
    width: 600px;
  }
  .computer-text {
    text-align: left;
    width: 300px;
    margin-left: 60px;
  }
  .history-of-buttons {
    flex-direction: row;
    justify-content: center;
  }
  .system-btn {
    margin: 0 10px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .list {
    display: flex;
    align-items: start;
    width: 500px;
  }
  .footer .list div {
    display: flex;
    align-items: baseline;
    margin-right: 40px;
  }
  .addons div {
    padding: 5px;
  }
}
@media only screen and (min-width: 850px) {
  .companies {
    width: 800px;
  }
  .addons {
    width: 800px;
  }
}
