@import url("https://fonts.googleapis.com/css?family=Poppins:300,500&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: auto;
  max-width: 100%;
}
.header {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
  margin: 20px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
}

ul li a {
  color: #000;
  text-decoration: none;
}

ul li img {
  display: block;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  height: 200px;
  width: 350px;
  border-radius: 10px 10px 0 0;
}
/* buttons */

.buttons button {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  min-width: 60px;
  border: 1px solid #888;
  margin: 5px 3px;
  cursor: pointer;
}
.buttons button:hover {
  background: #888;
  color: #fff;
}

/*  attribution */
.made {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 0;
  height: 0;
  visibility: hidden;
  background-color: cornflowerblue;
  transition: all 0.3s;
  color: #fff;
}
.made a {
  text-decoration: none;
}
.made-show {
  width: 270px;
  height: 100px;
  visibility: visible;
  border-radius: 12px;
}
.a-m {
  visibility: visible;
  position: fixed;
  left: 5px;
  bottom: 5px;
  background-color: cornflowerblue;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  opacity: 0.7;
  color: #fff;
  transition: all 0.2s;
}
.a-m:hover {
  opacity: 1;
}
.a-m-red {
  background: crimson;
}
