@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

body {
  background-color: rgb(255, 255, 255);
  columns: var(--Very-Dark-Blue);
}

img {
  width: 100%;
}

header {
  font-family: Raleway, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 100px;
}

main {
  font-family: "Open Sans", sans-serif;
}

button {
  height: 30px;
  width: 100%;
  padding: 5px;
  background: var(--Bright-Blue);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 80%;
  border-radius: 3px;
  margin: 10px 0px;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

input {
  height: 30px;
  width: 100%;
  text-indent: 13px;
  padding: 5px;
  font-size: 70%;
  outline: none;
}

header .logo img {
  width: 100px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li {
  margin-right: 10px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
}

.main-section {
  padding-bottom: 100px;
  background: url("../images/bg-curve-mobile.svg") center bottom / contain
    no-repeat;
}

.text {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text h1 {
  font-size: 140%;
  margin-bottom: 10px;
  font-weight: 600;
}

.text p {
  margin-bottom: 14px;
}

.input-bar-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
}

.productive {
  background-color: var(--Light-Grayish-Blue);
  padding-bottom: 60px;
}

.productive .text {
  padding: 20px;
}

.productive .text h1 {
  font-size: 110%;
  margin-bottom: 20px;
}

.productive .text p {
  text-align: left;
}

.fylo-work {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.fylo-work a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Moderate-Cyan);
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.fylo-work a img {
  width: 17px;
}

.comment {
  background: rgb(255, 255, 255);
  width: 300px;
  /* margin: 0px auto; */
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(167, 167, 167, 0.67) 0px 0px 28px 4px;
}

.quotes img {
  width: 15px;
}

.comment p {
  font-size: 90%;
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.profile-img img {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  margin-right: 10px;
}

.profile-info h3 {
  font-size: 86%;
  font-weight: 600;
}

.profile-info p {
  font-size: 59%;
}

.get-access {
  background: var(--Desaturated-Blue);
  color: rgb(255, 255, 255);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  background: var(--Very-Dark-Blue);
  color: rgb(255, 255, 255);
}

.sec-logo {
  margin-top: 20px;
}

.sec-logo img {
  width: 180px;
}

.contact img {
  width: 20px;
}

.contact p {
  margin-left: 10px;
}

.phone {
  display: flex;
}

.contact div {
  padding: 10px 0px;
}

.email {
  display: flex;
}

.list-links {
  padding: 20px 0px;
}

.list-links ul {
  list-style: none;
}

.list-links ul li {
  padding: 5px 0px 0px;
}

.list-links ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.list-links ul li a:hover {
  color: var(--Desaturated-Blue);
}

.list-links ul li:nth-child(4) {
  margin-bottom: 20px;
}

.media {
  display: flex;
  justify-content: center;
}

.media a {
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.error {
  height: 45px;
}

.error p {
  font-size: 10px;
  color: red;
  float: left;
  margin: 1px 0px 0px;
  display: none;
}

.err input {
  border: 1px solid red;
}

.get-access .error p {
  color: rgb(255, 255, 255);
}

.err p {
  display: block;
}

@media only screen and (min-width: 500px) {
  header .logo img {
    width: 150px;
  }
  .text {
    width: 490px;
    margin: 0px auto;
  }

  .text p {
    padding: 0px 14px;
  }

  .get-access {
    width: 100%;
  }

  .get-access .input-bar-btn {
    width: 70%;
  }

  .get-access-text {
    width: 70%;
  }
}

@media only screen and (min-width: 900px) {
  .main-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 300px;
    background: url("../images/bg-curve-desktop.svg") center bottom / contain
      no-repeat;
  }
  header {
    padding: 30px 50px;
  }
  .nav-bar ul li {
    margin-right: 20px;
  }
  .nav-bar ul li a {
    font-size: 20px;
  }
  header .logo img {
    width: 200px;
  }
  .text {
    margin: 0;
  }
  .main-section .img {
    width: 40%;
  }

  .main-section .text {
    text-align: left;
    width: 500px;
  }

  .main-section .text p {
    padding-left: 0px;
  }

  .main-section .text .input-bar-btn {
    padding-left: 0px;
    flex-direction: row;
    justify-content: center;
  }

  .main-section .text .input-bar-btn button {
    margin: 0px;
    width: 40%;
  }

  .main-section .text .input-bar-btn .error {
    width: 60%;
    margin-right: 5px;
  }

  .productive {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .productive .img {
    width: 40%;
  }
  .productive-text {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .get-access {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .get-access-text p {
    padding: 0px;
  }

  .get-access button {
    width: 40%;
  }

  .sec-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .list-links ul {
    column-count: 2;
    column-gap: 20px;
  }

  .list-links ul li:nth-child(4) {
    margin: 0px;
  }

  .sec-links > div {
    width: 33.33%;
  }
  .get-access-text {
    width: 400px;
  }
  .get-access .input-bar-btn {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-section .text {
    width: 600px;
  }
  .get-access-text {
    width: 600px;
  }
  .get-access .input-bar-btn {
    width: 600px;
  }
}
