/* headdings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"); /* body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  /* ### Primary */
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  /* ### Neutral */
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.btn {
  padding: 10px 30px;
  border-radius: 30px;
  background: var(--Pink);
  color: #fff;
  border: 1px solid var(--Light-Pink);
  font-weight: 600;
  font-size: 90%;
}
.btn:hover {
  cursor: pointer;
  background: var(--Light-Pink);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 70px;
}

header .logo img {
  width: 120px;
}

.header-btn button {
  width: 100px;
  border-radius: 20px;
  border: 1px solid var(--Pink);
  background: #fff;
  color: var(--Pink);
  padding: 2px 0px;
  font-weight: 600;
  font-size: 90%;
}

.header-btn button:hover {
  color: var(--Light-Pink);
  border: 1px solid var(--Light-Pink);
  box-shadow: 0px 0px 15px 8px rgb(251 239 248 / 69%);
  cursor: pointer;
}

/* header end */
/* main */
.text-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px 50px 15px;
}

.text-btn h1 {
  padding-bottom: 10px;
  font-size: 160%;
  padding: 0 30px 10px 30px;
}

.text-btn p {
  padding-bottom: 30px;
}

.main-text .img {
  padding: 40px;
}

.communities-message {
  padding-bottom: 50px;
}
.communities-message img {
  width: 30px;
}
.communities-message > div {
  display: flex;
  justify-content: normal;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 100px;
}
.communities-message > div > div {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.communities-message p {
  color: #888;
}
.communities-message span {
  font-size: 380%;
  font-weight: 600;
}

.section .img {
  padding: 40px;
}

.section .text {
  text-align: center;
  padding: 20px 20px 150px 20px;
}

.ready-to-build {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 250px;
}
.ready-to-build h1 {
  font-size: 150%;
  padding: 20px 20px;
}

footer {
  color: #fff;
  background: var(--Very-Dark-Cyan);
}
.newslatter {
  text-align: left;
  padding: 25px;
  padding-bottom: 100px;
}
.newslatter h1 {
  padding-bottom: 10px;
}

.newslatter p {
  padding-bottom: 20px;
}

.error input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  text-indent: 15px;
  border: 1px solid #fff;
}
.sub-wrap button {
  background: var(--Pink);
  border: 1px solid var(--Pink);
  color: #fff;
  width: 170px;
  height: 35px;
  border-radius: 5px;
  font-weight: 600;
  float: right;
}
.sub-wrap button:hover {
  background: var(--Light-Pink);
  cursor: pointer;
}

.logo {
  padding: 20px 0;
}
.logo i {
  font-size: 240%;
}
.logo span {
  font-size: 230%;
  font-weight: 700;
}
.huddle-media {
  padding: 20px;
}

.info {
  padding: 10px 0;
}
.info div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.info div img {
  width: 15px;
  margin-right: 15px;
  height: 15px;
}

.soc-media {
  display: flex;
  justify-content: flex-start;
}
.soc-media a {
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
}
.soc-media a:hover {
  color: deepskyblue;
}
.soc-media a i {
  font-size: 130%;
}
