@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  background: var(--Pale-Blue);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.flyo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/bg-mobile.png") center center no-repeat;
  width: 375px;
}

.flyo-doc {
  width: 85%;
  background: var(--Dark-Blue);
  margin-bottom: 15px;
  border-radius: 5px 110px 5px 5px;
}

.logo {
  margin: 40px 0px 20px 30px;
}

.doc {
  height: 70px;
  display: flex;
  justify-content: left;
  padding: 0px 30px;
}

.doc div {
  width: 25px;
  height: 25px;
  padding: 10px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-right: 16px;
  cursor: pointer;
}

.doc img {
  background: rgb(0, 0, 0);
}

.storage-wrap {
  width: 85%;
  background: var(--Dark-Blue);
  padding: 25px 0px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  position: relative;
}

.storage-wrap div {
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text p {
  color: var(--Grayish-Blue);
}

.text p span {
  color: var(--Pale-Blue);
  font-weight: 700;
}

.slider {
  position: relative;
  margin-bottom: 45px;
}

.slide {
  position: relative;
  width: 81%;
  height: 18px;
  background: var(--Very-Dark-Blue);
  border-radius: 10px;
}

.slide div {
  width: 79%;
  background: linear-gradient(
    90deg,
    rgb(255, 163, 153) 0%,
    rgb(255, 77, 151) 100%
  );
  position: relative;
  left: -22px;
  border-radius: 10px;
  height: 14px;
}

.slide span {
  width: 12px;
  height: 12px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: relative;
  right: -55%;
}

.min {
  position: absolute;
  left: 0px;
  top: 25px;
  font-size: 85%;
}

.max {
  position: absolute;
  right: 0px;
  top: 25px;
  font-size: 85%;
}

.gb-left {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12%);
  padding: 0px !important;
}

.gb-left p {
  font-size: 11px;
  font-weight: 600;
  color: var(--Grayish-Blue);
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 10px;
}

.gb-left span {
  font-size: 300%;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-right: 10px;
}

@media only screen and (min-width: 968px) {
  .container {
    display: flex;
    align-items: center;
  }

  .flyo-wrap {
    flex-direction: row;
    background-image: url("../images/bg-desktop.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-size: contain;
    background-color: var(--Very-Dark-Blue);
    width: 1000px;
    height: 70vh;
  }

  .flyo-doc {
    width: 350px;
    margin-right: 20px;
  }

  .storage-wrap {
    width: 550px;
  }

  .storage-wrap div {
    justify-content: left;
    padding: 0px 30px;
  }

  .slide {
    width: 90%;
  }

  .slide div {
    left: -28px;
  }

  .slide div span {
    right: -105%;
  }

  .gb-left {
    transform: translate(50%, -222%);
  }

  .triangle {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 0px;
    height: 0px;
    z-index: -110;
    border-style: solid;
    border-width: 40px 40px 40px 0px;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }
}
