@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  --Violet: hsl(257, 40%, 49%, 0.9);
  --SoftMagenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  background: var(--Violet) url(../images/bg-mobile.svg) no-repeat fixed;
}

.register-wrap {
  color: #fff;
  text-align: center;
}

.header {
  text-align: left;
}

.logo img {
  margin: 30px 0 20px 35px;
  max-width: 7.5rem;
}

.illustration img {
  max-width: 100%;
  padding: 30px;
}

.content {
  padding: 25px 25px 25px 25px;
  color: #fff;
  font-weight: 400;
}

.content p {
  font-weight: 400;
}
.content-wrap {
  margin-bottom: 200px;
}

.content button {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  outline: 0;
  color: var(--Violet);
  border: 2px solid #fff;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.72);
  cursor: pointer;
}
.content button:active {
  border: 1px solid var(--SoftMagenta);
  color: #fff;
  background-color: var(--SoftMagenta);
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social a {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  right: 0;
  bottom: -67px;
}
.social a:active {
  border: 1px solid var(--SoftMagenta);
  color: var(--SoftMagenta);
}

@media only screen and (min-width: 980px) {
  body {
    background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .header-wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    justify-content: center;
  }
  .register-wrap {
    display: flex;
    height: 100%;
  }
  .header {
    padding: 50px;
    margin-bottom: 85px;
  }
  .header img {
    max-width: 10rem;
  }

  .content {
    text-align: left;
  }

  .content button {
    width: 35%;
  }
  .social {
    position: absolute;
    bottom: 100px;
    right: 60px;
  }
}
